.nav-header {
  height: 70px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #2c0e3a;
  padding: 10px;
  width: 100vw;
}

.nav-content {
  padding: 10px;
  display: flex;
  text-align: center;
}

.logo {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 200px;
    height: 40px;
    margin-left: 10px;
  }
}

.score-board {
  margin-right: 40px;
}

.score-timer-board {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.timer-board {
  display: flex;
  text-align: center;
  margin-right: 40px;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 18px;
  }
}

.timer-logo {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.time-text {
  color: #fec653;
  margin-left: 10px;
  font-family: 'Roboto';
}
